[Unit]
Description=Spam Void - nostr-rs-relay gRPC filter
[Service]
User=spamvoid
WorkingDirectory=/usr/local/bin
Environment=RUST_LOG=info,spam_void=info
ExecStart=/usr/local/bin/spam_void
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target